.stepPreview {
  /* border: #fff 2px solid;
  width: 100%;
  height: 200px;
  overflow: hidden; */
}
.previewVideo video {
  width: 100%;
  min-width: 125px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.previewVideo span.text-muted {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 8px;
}
.previewImage img {
  width: 100%;
  min-width: 125px;
}
.previewImage span.text-muted {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 8px;
}
